*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{ list-style: none;}
a {text-decoration: none;}
a,
img,
span,
input,
button,
ion-icon{ display: block;}
button {
    background: none;
    border: none;
    font: inherit;
}
button {cursor: pointer;}
input {
    width: 100%;
    outline-color: #0000;
    border: none;
}
img {height: auto;}
ion-icon {pointer-events: none;}
